[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/nlohmann_json"]
	path = external/nlohmann_json
	url = git@github.com:nlohmann/json.git
